.timer-container {
  overflow:hidden;
  img {
    margin:auto;
    padding:0 40px;
  }
  h1, h2 {
  color:#444;
  }
  //h1 {
  //  margin-left:70px;
  //}
  //h2 {
  //  margin:0 0 -47px -220px ;
  //  font-size:4.6em;
  //}
  .countdown {
    margin-top:-30px;
  }
  .jumbotron {
    min-height:100vh;
	margin:0;
	padding:0;
  }
  .container {
    text-align:center;
	height:100vh;
  }
  .exclamation {
    margin-right:-530px;
    margin-bottom:-146px;
    margin-top:-100px;
    font-size:14.0em !important;
    color:#777 !important;
  }
  .logo {
    max-width:500px;
  }
  .carousel-control, .carousel-indicators {
  visibility:hidden;
  }
  .caption {
    background:#76a12e;
	position:absolute;
	bottom:0;
	width:100%;
	h3 {
	  margin:9px 0;
	  color:#fff;
	  font-size:2.5em;
	}
  }

  /* Extra Small Devices, Phones */ 
      @media only screen and (max-width : 480px) {
		.logo {
		max-width:100%;
		}
        h1 {
          font-size:3.6em;
		  margin-top:20px;
        }
        h2 {
          margin:-49px 0 -40px -130px;
          font-size:2.8em;
        }
		.mobile-days {
		font-size:2.7em;
		}
		.caption {
		  bottom:0px;
		}
      }
  /* Small Devices, Tablets */
      @media only screen and (max-width : 768px) {
        .exclamation {
          margin-right:-230px;
          margin-bottom:-115px;
          font-size:8.0em !important;
        }
    }
}